.title-course{
    background-color: #F1F7FF;
    color: #197BFF;
    border-right: 3px solid #197BFF;
    padding: 10px;
    width: 100%;
    font-size: 18px;
    
}

.details-fas{
    margin-left: 30px;
    font-size: 18px;
}